extends ../layout

block content
   a.btn.btn-success(href='/bicicletas/create') Nueva Bicicleta
   
   
   br
   br


   table.table
    thead 
      tr 
        th(scope='col') Id 
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') Eliminar
        th(scope='col') Editar
    tbody 
      each bicicleta in bicicletas
        tr 
          td(scope='row')= bicicleta.code
          td= bicicleta.color 
          td= bicicleta.modelo
          td= bicicleta.ubicacion 
          td
            form.inline(method='get' action='bicicletas/' + bicicleta._id + '/update')
              input(type='hidden' name='id' value= bicicleta._id)
              button.link-button.btn-warning(type='submit' name='submit_param' value='submit_value' class='btn')= 'Editar'
          td
            form.inline(method='post' action='bicicletas/' + bicicleta._id + '/delete')
              input(type='hidden' name='id' value= bicicleta._id)
              button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')= 'Eliminar'

           
