extends ../layout

block content
  a.btn.btn-success(href='/bicicletas') volver 
  
  br 
  br 
  br 
  
  h1 Actualizando Bicicleta
  
  br 
  br 
  
  form(action=`/bicicletas/${bicicleta.id}/update` method='post')
    label(for='id') #:
    input#id(type='text' name='id' value=bicicleta.id)
    br
    label(for='code') code:
    input#code(type='text' name='code' value=bicicleta.code)
    br
    label(for='color') Color:
    input#color(type='text' name='color' value=bicicleta.color)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=bicicleta.modelo)
    br
    label(for='lng') Latitud:
    input#modelo(type='text' name='lng' value=bicicleta.ubicacion[0])
    br
    label(for='lat') Longitud:
    input#modelo(type='text' name='lat' value= bicicleta.ubicacion[1])
    br
    br
    input.btn.btn-warning(type='submit' value='OK')
